%Header {
    @include padding(5x 0);
    @include responsive-property('height', $header-height);
    align-items: center;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;

    &.is-hidden {
        visibility: hidden;
    }
}

%Header-nav {
    margin-left: auto;
}
