%Logo {
	@include margin(0 0 6x);
	@include responsive-property('height', $logo-height);
	@include responsive-property('width', $logo-width);
	display: block;
	flex-shrink: 0;
	position: relative;
	transform-origin: left top;

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	img {
		display: block;
		max-height: 100%;
		max-width: 100%;
	}

	&.is-hidden {
			visibility: hidden;
	}
}
