%SocialLinks {
    margin-left: auto;

    ul {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li + li {
        margin-left: _(3x);
    }

    a {
        @include color(white);
        @include font(bold);
        font-size: 20px;
        text-decoration: none;
    }
}
