%Tile {
    @include background-color(white);
    @include font(x-small);
    @include padding(6x 7x 7x);
    border-bottom: 3px solid get-color(blue);
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    text-align: center;

    &:nth-child(even) {
        z-index: 1;
    }

    &:nth-child(odd) {
        z-index: 2;
    }

    &:nth-child(odd):before {
        @include background-color(light-gray);
        bottom: 0;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        width: 3px;
    }
}
