%body :not(%pre) > %code[class*="language-"],
%body %pre[class*="language-"] {
    background: none;
    @include background-color(lighter-gray);
    @include font-size(small);
    @include line-height(base);
    @include margin(0 0 3x);
    @include padding(3x);
    border-radius: _(1x);
    direction: ltr;
    font-family: $font-family--monospace;
	hyphens: none;
    tab-size: 4;
	text-align: left;
    white-space: pre;
    word-spacing: normal;
	word-break: normal;

    %code {
        @include font-weight(base);
        background: none;
        border: 0;
        box-shadow: none;
        padding: 0;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .token.variable {
        background: none;
    }
}

.line-numbers-mode {
    @include margin(0 0 3x);
    align-items: stretch;
    border-radius: _(1x);
    display: flex;
    overflow: hidden;
    width: 100%;

    > %pre[class*="language-"] {
        border-radius: 0;
        flex-grow: 1;
        margin: 0;
    }
}

.line-numbers-wrapper {
    @include background-color(light-gray);
    @include color(gray);
    @include font-size(small);
    @include font-weight(bold);
    @include line-height(base);
    @include padding(3x 1.5x);
    flex-shrink: 0;
    font-family: $font-family--monospace;
    order: -1;
    text-align: right;
    user-select: none;
}
