%Coda {
    @include background-color(black);
    @include color(white);
    @include font(x-small);
    @include padding(3x 0);
    position: relative;
    z-index: 10;

    %Wrap {
        align-items: center;
        display: flex;
    }

    p {
        margin-bottom: 0;
        margin-right: _(3x);
    }

    ul {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li + li {
        margin-left: _(3x);
    }

    a {
        @include color(white);
        @include font(bold);
    }
}
