%Section {
    @include padding(10x 0);
}

%Section-content {
    @include margin(0 0 10x);
    max-width: 730px;

    &.u-textAlign--center {
        margin-left: auto;
        margin-right: auto;
    }
}
