//----------------------------------------------------------------------
//
// Colors
//
//----------------------------------------------------------------------

$color-default:         #0F1B2A;
$color-accent:          #CE6A85;

$color-black:           #000000;
$color-white:           #FFFFFF;

$color-maroon:          #5C374C;
$color-mauve:           #985277;
$color-rose:            #CE6A85;

$color-darkest-gray:    #0F1B2A;
$color-darker-gray:     #2E3D4F;
$color-dark-gray:       #54606F;
$color-gray:            #8F97A0;
$color-light-gray:      #CACED1;
$color-lighter-gray:    #E5E6E7;
$color-lightest-gray:   #F1F2F2;