//-----------------------------------------------------------------------
//
// Typography
//
//-----------------------------------------------------------------------

$font-size-base:           24px;
$font-size-h6:             24px;
$font-size-h5:             28px;
$font-size-h4:             32px;
$font-size-h3:             40px;
$font-size-h2:             48px;
$font-size-h1:             56px;

$font-size-large:          32px;
$font-size-small:          20px;
$font-size-x-small:        16px;

$font-weight-base:         400;
$font-weight-h6:           600;
$font-weight-h5:           600;
$font-weight-h4:           600;
$font-weight-h3:           600;
$font-weight-h2:           600;
$font-weight-h1:           600;

$font-weight-large:        500;
$font-weight-small:        500;
$font-weight-x-small:      600;

$font-weight-normal:       400;
$font-weight-medium:       400;
$font-weight-semi-bold:    600;
$font-weight-bold:         600;

$line-height-base:         40px;
$line-height-h6:           32px;
$line-height-h5:           36px;
$line-height-h4:           40px;
$line-height-h3:           48px;
$line-height-h2:           56px;
$line-height-h1:           64px;

$line-height-large:        52px;
$line-height-small:        34px;
$line-height-x-small:      24px;
