//-----------------------------------------------------------------------
//
// Layout
//
//-----------------------------------------------------------------------

$layout-padding: 3x;
$layout-spacing: 8px;
$layout-width: 1320px;
