//----------------------------------------------------------------------
//
// Syntax
//
//----------------------------------------------------------------------

$syntax-attribute: #00a4db;
$syntax-comment: gray;
$syntax-default: darker-gray;
$syntax-function: #9a050f;
$syntax-punctuation: darker-gray;
$syntax-selector: #00009f;
$syntax-string: #e3116c;
$syntax-variable: #36acaa;
