.LogoGrid {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 192px;

    @media (max-width: 960px) {
        grid-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 96px;
    }

    @media (max-width: 480px) {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-item {
        background: $color-white;
        box-shadow: 0 8px 32px rgba($color-darkest-gray, 0.1);
        position: relative;
    }

    &-item:before {
        content: '';
        display: block;
        padding-bottom: 100%;
        width: 100%;
    }

    &-item img {
        display: block;
        height: 60px;
        left: 50%;
        max-height: calc(100% - 32px);
        max-width: calc(100% - 32px);
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
    }
}