.ProjectCard {
    display: flex;
    flex-wrap: wrap;
    margin: 96px 0 192px;
    position: relative;
    width: 100%;

    @media (max-width: 960px) {
        margin: 0 0 96px;

        & + & {
            margin-top: -48px;
        }
    }

    &:first-child {
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-content {
        padding-bottom: 192px;
        padding-top: 64px;
        width: calc(50% + 32px);

        @media (max-width: 960px) {
            padding-bottom: 0;
            padding-top: 0;
            width: 100%;
        }
    }

    &.is-left &-content {
        padding-right: 64px;

        @media (max-width: 960px) {
            padding-right: 0;
        }
    }

    &.is-right &-content {
        padding-left: 64px;

        @media (max-width: 960px) {
            padding-left: 0;
        }
    }

    &-primaryImage,
    &-secondaryImage {
        background: $color-white;
        box-shadow: 0 8px 32px rgba($color-darkest-gray, 0.1);
        position: relative;

        @media (max-width: 960px) {
            display: none;
        }

        &:before {
            content: '';
            display: block;
            width: 100%;
        }

        img {
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: center top;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &-primaryImage {
        top: 0;
        width: calc(50% - 32px);

        &:before {
            padding-bottom: 100% * 3/2;
        }
    }

    &.is-right &-primaryImage {
        order: -1;
    }

    &-secondaryImage {
        left: 10%;
        margin-top: -96px;
        width: 75%;

        &:before {
            padding-bottom: 100% * 3/5;
        }
    }

    &.is-right &-secondaryImage {
        left: 15%;
    }
}
