.TitleCard {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    
    &-subtitle {
        color: $color-gray;
        font-size: $font-size-large;
        font-weight: $font-weight-large;
        line-height: $line-height-large;
        max-width: 680px;
        transition: 0.4s color;
    }
}

.is-inverted .TitleCard-subtitle {
    color: $color-darkest-gray;
}