//----------------------------------------------------------------------
//
// Buttons
//
//----------------------------------------------------------------------

$buttons-border-width: 2px;
$buttons-height: 6x;
$buttons-padding: 7x;

$buttons-radius: 0.5x;

$buttons-background-color: red;
$buttons-border-color: transparent;
$buttons-text-color: white;

$buttons-hover-background-color: yellow;
$buttons-hover-border-color: transparent;
$buttons-hover-text-color: white;
