//-----------------------------------------------------------------------
//
// Typography
//
//-----------------------------------------------------------------------

$font-family: big-caslon-fb, sans-serif;
$font-family--secondary: big-caslon-fb, sans-serif;
$font-family--monospace: 'Fira Mono', monospace;

$font-size: (

	'base':           16px,
	'h6':             16px,
	'h5':             18px,
	'h4':             20px,
	'h3':             24px,
	'h2':             32px,
	'h1':             40px,

	'large':          32px,
	'small':          15px,
	'x-small':        14px,

);

$font-weight: (

	'base':           500,
	'h6':             700,
	'h5':             700,
	'h4':             700,
	'h3':             700,
	'h2':             700,
	'h1':             700,

	'small':          500,
	'x-small':        700,

	'normal':         400,
	'medium':         600,
	'semi-bold':      700,
	'bold':           900

);

$letter-spacing: ();

$line-height: (

	'base':           24px,
	'h6':             24px,
	'h5':             26px,
	'h4':             28px,
	'h3':             32px,
	'h2':             40px,
	'h1':             48px,

	'large':          48px,
	'small':          19px,
	'x-small':        18px,

);
